@charset "utf-8";
/* CSS Document */
:root {
  --brand-color: orange;
  /* default dark background color */
  --bg-dark: #252831;
  /* default light background color */
  --bg-light: #eee;
  /* default dark text color */
  --text-dark: #333;
  /* default light text color */
  --text-light: #fff;
  /* default link text color */
  --link-color: #3397db;
  /* default darker link text color */
  --link-color-darker: #01447e;
  /* default link text color on hover */
  --link-color-hover: var(--text-dark);

  /* default top and bottom margin */
  --default-y-mg: 8px;
  /* default left and righ margin */
  --default-x-mg: 8px;
  /* default padding all around */
  --default-pad: 8px;

  /* COMPONENTS VAR */

  /* default light background color for a component */
  --c-bg-light: #f3f3f3;
  /* default light background color for a row component */
  --c-bg-row-default: #fff;
  /* default border color for a row component */
  --c-bd-color-row-default: #949494;

  /* default button width */
  --c-btn-default-width: 144px;
  /* default button width */
  --c-btn-small-width: calc(var(--c-btn-default-width) / 3);
  /* default button height */
  --c-btn-min-height: 48px;
  /* default row height */
  --c-row-min-height: 64px;
}
html,
body {
  height: 100%;
}
body,
td,
th,
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: var(--text-dark);
  line-height: 1em;
}
p {
  /* decrese default margin from webkit */
  -webkit-margin-before: 0.25rem;
  -webkit-margin-after: 0.25rem;
}
body {
  background-color: var(--bg-light);
  margin: 0;
  position: relative;
}

ul,
li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: var(--text-dark);
  list-style: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

a {
  color: var(--brand-color);
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--link-color);
  text-decoration: none;
}

a img {
  border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  /*  RESET USER AGENT STYLES on hX elements */
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  max-width: 100%;
}

#maincontent {
  background-color: var(--bg-light);
  min-height: 100%;
}

#footer {
  background-color: var(--bg-dark);
  color: var(--text-light);
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

.debug {
  border: 1px solid red;
}

/* ====================== Components ====================== */
.btn-default {
  background-color: var(--brand-color);
  color: var(--text-light);
  border: 0;
  min-width: var(--c-btn-default-width);
  width: 144px;
  line-height: var(--c-btn-min-height);
  margin: var(--default-y-mg) var(--default-x-mg);
  display: inline-block;
  border-radius: 0.25em;
}
.btn-default:hover {
  background-color: var(--bg-dark);
  color: var(--text-light);
  border: 1px solid var(--brand-color);
}
.btn-small {
  min-width: var(--c-btn-small-width);
  width: 48px;
  text-align: center;
}
.row-default {
  height: var(--c-row-min-height);
  background-color: var(--c-bg-row-default);
  padding: var(--default-pad) 0 var(--default-pad) var(--default-pad);
  border-bottom: 1px solid var(--c-bd-color-row-default);
}

.row-default:first-child {
  border-top: 1px solid var(--c-bd-color-row-default);
}
/* ====================== Header ====================== */

header {
  background-color: var(--bg-dark);
}
header h1 {
  line-height: 48px;
  text-align: center;
  margin: 0;
}
header h1 a {
  font-size: 1em;
}
/* ====================== Navigation ====================== */

nav {
  text-align: center;
}

nav h1 {
  margin: auto;
}

nav h1 a {
  color: var(--text-light);
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#breadcrumb {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: var(--c-bg-light);
  font-size: 17px;
  margin: 0;
  width: calc(50% - 80px);
}

/* Display list items side by side */

#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */

#breadcrumb li + li:before {
  padding: 8px;
  color: var(--text-dark);
  content: "/\00a0";
}

/* Add a color to all links inside the list */

#breadcrumb li a {
  color: var(--link-color);
  text-decoration: none;
}

/* Add a color on mouse-over */

#breadcrumb li a:hover {
  color: var(--link-color-darker);
  text-decoration: underline;
}

/* ====================== Map ====================== */

#map {
  height: 40vh;
  width: 100%;
  background-color: var(--c-bg-light);
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  text-align: center;
  clear: both;
}

#filters-modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100vh;
  background-color: var(--bg-light);
  text-align: center;
}

#filters-modal select {
  display: block;
  margin: var(--default-y-mg) auto;
  padding: calc(var(--default-pad) * 2);
}

/* ====================== Restaurant Listing ====================== */
.restaurants-container {
  width: 100%;
}
#restaurants-list {
  display: grid;
  grid-auto-columns: auto;
}

/*.restaurant-container h1 {
  background-color: lawngreen;
}
.restaurant-container .neighborhood {
  background-color: khaki;
}
.restaurant-container .address {
  background-color: lightcoral;
}
.restaurant-container .more-container {
  background-color: lightpink;
}
.restaurant-container .restaurant-img-container {
  background-color: cyan;
}*/
.restaurant-container {
  display: flex;
  align-items: center;
}

.restaurant-img {
  max-height: var(--c-row-min-height);
}

.descriptions {
  padding: 0 1rem;
  width: 100%;
}
.address {
  display: none;
}
.restaurant-container .more-container {
  margin-left: auto;
}
@media screen and (max-width: 399px) {
  .restaurant-container h1 {
    font-size: 1em;
  }
}
@media screen and (min-width: 400px) {
  .row-default,
  .restaurant-img-container {
    height: calc(var(--c-row-min-height) * 1.5);
  }
  .restaurant-container {
    align-items: center;
  }
  .restaurant-img-container {
    flex: 2;
  }
  .restaurant-img {
    max-height: 100%;
    max-width: 100%;
  }
  .descriptions {
    flex: 4;
  }

  .restaurant-container h1 {
    font-size: larger;
  }
  .more-container {
    flex: 1;
  }
  .more-container a {
    float: right;
  }
}

@media screen and (min-width: 600px) {
  #restaurants-list {
    grid-template-columns: auto auto;
  }

  .restaurant-container:nth-child(odd) {
    margin-left: calc(var(--default-x-mg) * 2);
    margin-right: var(--default-x-mg);
  }
  .restaurant-container:nth-child(even) {
    margin-right: calc(var(--default-x-mg) * 2);
    margin-left: var(--default-x-mg);
  }
  .restaurant-container {
    float: left;
    border: 1px solid var(--c-bd-color-row-default);
    border-radius: 4px;
    margin-bottom: 16px;
  }
  .address {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  #maincontent {
    text-align: center;
  }
  .restaurants-container {
    margin: 0 auto;
  }
}
/* ====================== Footer ====================== */
